<!-- <div fxLayout="column" class="container" style="height: 100vh;">
  
  <nav fxFlex="10%" style="background: #3f51b5;" fxLayoutAlign="center center">
    <div style="color: white; font-weight: bold; font-size: 5vh;">
      Covid-19 in the world
    </div>
  </nav>

  <div fxLayout="row" fxFlex="90%">
    <div fxFlex="40%" fxLayoutGap="2%" fxLayout="column">
      <h2 fxLayoutAlign="center center"> Lista de países </h2>
      <mat-card *ngFor="let country of countriesArray" (click)="tap(country)" fxLayoutAlign="center center" style="font-size: 20px;"> 
        {{ country.country }}
       </mat-card>
    </div>
  
    <div fxFlex="60%">
      <h2 fxLayoutAlign="center center"> {{ charTitle }} </h2>
      <div>
        <div>
          <div style="display: block">
            <canvas baseChart
              [data]="polarAreaChartData"
              [labels]="polarAreaChartLabels"
              [legend]="polarAreaLegend"
              [chartType]="polarAreaChartType"
              [colors]="polarAreaChartColors">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->

<app-home></app-home>